body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
  width: 100vw;
  height: 100vh;

  #root {

    .App {


      .subject {
        padding: 0 1rem;

        .subject-title {
          text-align: center;
          color: white;
        }
      }
    }
  }
}